*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #faf6f6;
    color: #333;
    padding: 20px;
    text-align: center;     
}

.container{
    /*border: 5px solid black;*/
    border-radius: 10px;
    padding-bottom: 30px;
}

#titulo{
    font-size: 50px;
    margin: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

#subtitulo{
    font-size: 50px;
    margin: 1%;
    font-style: italic;
}

#enunciado{
    font-size: 50px;
    margin: 1%;
    font-family: monospace;
    font-style: italic;
}

input{
    width: 800px;
    height: 50px;
    margin: 2%;
    border-radius: 10px;
    padding: 10px;
    font-size: 32px;
}

button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(183, 183, 243);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    cursor: grab;
}

#mensagem{
    margin: 2%;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    box-sizing: border-box;
}
button:hover{
    background-color: #f9c4c4;
}